<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="SynergyOneConnectionString"
        connectionString="Server=SYNERGY;Database=SynergyOne;User ID=<USER_ID>;Password=<PASSWORD>"
        providerName="System.Data.SqlClient" />
    </connectionStrings>

  <appSettings>
    <add key="SendEmails" value="False"/>
    <add key="MailServerName" value="<MAIL_SERVER_NAME>>"/>
    <add key="EmailBodyBegin" value="
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
        &lt;head&gt;
        &lt;style&gt;
            body    {font-family: calibri;}
            h1      {font-size: 200%}
            h2      {padding: 5px;}
            p       {}
        &lt;/style&gt;
        &lt;/head&gt;
        &lt;body&gt;
        &lt;p&gt;This is an automated notification to inform you that a sanction has been created for the following student.&lt;/p&gt;"/>
    <add key="EmailBodyEnd" value="         
        &lt;p&gt;If you have any questions about this sanction, please contact the specified staff member.&lt;/p&gt;
        &lt;/body&gt;
        &lt;/html&gt;"/>
    
    <!-- SQL Queries -->
    <add key="GetCurrentYearSemesterQry" value="
        SELECT 
            FileYear, 
            FileSemester
        FROM FileSemesters 
        WHERE SystemCurrentFlag = 1"/>
    
    <!-- SQL Procedures -->
    <add key="CreateSanctionProc" value="woodcroft.uspiBmsCreateSanction"/>
    <add key="GetAllClassesProc" value="woodcroft.uspsBmsGetAllClasses"/>
    <add key="GetAllStudentsProc" value="woodcroft.uspsBmsGetAllStudents"/>
    <add key="GetClassesForStaffProc" value="woodcroft.uspsBmsGetClassesForStaff"/>
    <add key="GetConfigValueProc" value="woodcroft.uspsBmsGetConfigValue"/>
    <add key="GetEmailRecipientsProc" value="woodcroft.uspsBmsGetEmailRecipients"/>
    <!--add key="GetExistingFutureSanctionsForStudentProc" value="woodcroft.uspsBmsGetExistingFutureSanctionsForStudent"/-->
    <add key="GetFutureSanctionDatesProc" value="woodcroft.uspsBmsGetFutureSanctionDates"/>
    <add key="GetPhotoDataForUserProc" value="woodcroft.uspsGetPhotoForUser"/>
    <add key="GetSanctionsForYearLevelProc" value="woodcroft.uspsBmsGetSanctionsForYearLevel"/>
    <add key="GetStaffListProc" value="woodcroft.uspsBmsGetStaffList"/>
    <add key="GetUserDetailsFromNetworkLoginProc" value="woodcroft.uspsGetUserDetailsFromNetworkLogin"/>
    <add key="SendEmailsForStudentProc" value="woodcroft.uspsBmsSendEmailsForStudent"/>
    
  </appSettings>

  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
