<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="Synergy"
        connectionString="Server=SYNERGY;Database=SynergyOne;User ID=<USER_ID>;Password=<PASSWORD>"
        providerName="System.Data.SqlClient" />
    </connectionStrings>

  <appSettings>
        
    <!-- SQL Procedures -->    
    <add key="CreateSanctionProc" value="woodcroft.uspiBmsCreateSanction"/>
    <add key="DeleteSanctionProc" value="woodcroft.uspdBmsDeleteSanction"/>    
    <add key="GetAllClassesProc" value="woodcroft.uspsBmsGetAllClasses"/>
    <add key="GetAllStudentsProc" value="woodcroft.uspsBmsGetAllStudents"/>
    <add key="GetClassesForStaffProc" value="woodcroft.uspsBmsGetClassesForStaff"/>
    <add key="GetConfigValuesProc" value="woodcroft.uspsBmsGetConfigValues" />
    <add key="GetEmailRecipientsProc" value="woodcroft.uspsBmsGetEmailRecipients"/>
    <add key="GetCurrentSanctionsForStaff" value="woodcroft.uspsBmsGetCurrentSanctionsForStaff"/>    
    <add key="GetPhotoDataForUserProc" value="woodcroft.uspsGetPhotoForUser"/>
    <add key="GetSanctionDatesProc" value="woodcroft.uspsBmsGetSanctionDatesForStudent"/>
    <add key="GetSanctionsForStudent" value="woodcroft.uspsBmsGetSanctionTypesForStudent"/>
    <add key="GetSanctionsForYearLevelProc" value="woodcroft.uspsBmsGetSanctionsForYearLevel"/>
    <add key="GetStaffListProc" value="woodcroft.uspsBmsGetStaffList"/>
    <add key="GetUserDetailsFromNetworkLoginProc" value="woodcroft.uspsGetUserDetailsFromNetworkLogin"/>
    <add key="UpdateSanctionProc" value="woodcroft.uspuBmsUpdateSanction"/>

  </appSettings>

  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
